*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

div[slot="content"] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.title {
  font-size: 2rem;
  font-family: Georgia;
  font-weight: 400;
  position: relative;
  z-index: 1;

  a {
    text-decoration: none;
    color: inherit;
  }
}

header {
  background: #8693a0;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
}

main {
  background: #cac1b0;
  min-height: 100dvh;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  .container {
    padding-bottom: 3rem;
  }

  .title {
    margin-bottom: 1rem;
  }

  .title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 60%; /* or 100px */
    border-bottom: 1px solid #000;
  }
}

li.list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000;
}

.item-title {
  font-weight: 400;
}

/* DEFAULT BUTTON */
/* https://piccalil.li/blog/how-i-build-a-button-component/ */
.button {
  /* Configuration */
  --button-padding: 0.5em 1em;
  --button-gap: 0.5em;
  --button-bg: #5fad80;
  --button-color: #ffffff;
  --button-hover-bg: #3f7d5d;
  --button-hover-color: #ffffff;
  --button-border-width: 3px;
  --button-border-style: solid;
  --button-border-color: var(--button-bg);
  --button-radius: 0.5em;

  /* Layout and spacing */
  display: inline-flex;
  align-items: center;
  gap: var(--button-gap);
  padding: var(--button-padding);

  /* Colours */
  background: var(--button-bg);
  color: var(--button-color);

  /* Stroke and radius */
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);

  /* Typography */
  text-decoration: none;
  font-weight: var(--button-font-weight, 700);
  font-size: var(--button-font-size, 1em);
  letter-spacing: 0.05ch;
  font-family: sans-serif;
  line-height: 1.1;

  /* Interactive */
  cursor: pointer;
}

.button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
}

.button:focus {
  outline-width: none;
  outline-style: none;
  outline-color: none;
  background: var(--button-hover-bg);
}

.button:active {
  transform: scale(99%);
}

.button[data-button-variant="edit"] {
  --button-bg: #b5905c;
  --button-hover-bg: #a37e4e;
}

.button[data-button-variant="delete"] {
  --button-bg: #854b50;
  --button-hover-bg: #67393d;
}

.details {
  margin-bottom: 1.15rem;
}

fieldset {
  border: none;
  display: flex;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  textarea,
  select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #000;
  }

  textarea {
    resize: vertical;
  }
}

.message {
  font-style: italic;
}
